node_modules
dist
.env
.DS_Store
coverage
apps/mobile/.expo
apps/mobile/.expo-shared
apps/mobile/ios/
apps/mobile/android/
apps/brawlstars/.expo
apps/brawlstars/.expo-shared
apps/brawlstars/ios/
apps/brawlstars/android/
.npm-cache
.vscode/

apps/api/uploads
apps/api/apps/api/uploads
